@model WebBanThatLung.Models.NguoiDungModel

@{
    ViewData["Title"] = "Chỉnh sửa nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; 
}

<style>
    #togglePassword{
        height: 40px;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title mb-0">@ViewData["Title"]</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label asp-for="HO_TEN" class="control-label">Họ tên</label>
                                    <input asp-for="HO_TEN" class="form-control" />
                                    <span asp-validation-for="HO_TEN" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SDT" class="control-label">Số điện thoại</label>
                                    <input asp-for="SDT" class="form-control" />
                                    <span asp-validation-for="SDT" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CCCD" class="control-label">CCCD</label>
                                    <input asp-for="CCCD" class="form-control" />
                                    <span asp-validation-for="CCCD" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EMAIL" class="control-label">Email</label>
                                    <input asp-for="EMAIL" class="form-control" />
                                    <span asp-validation-for="EMAIL" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="TAI_KHOAN" class="control-label">Tài khoản</label>
                                    <input asp-for="TAI_KHOAN" class="form-control" />
                                    <span asp-validation-for="TAI_KHOAN" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MAT_KHAU" class="control-label">Mật khẩu</label>
                                    <div class="input-group">
                                        <input id="MAT_KHAU" asp-for="MAT_KHAU" class="form-control" type="password" placeholder="Vui lòng nhập mật khẩu" />
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="togglePassword">
                                                <i class="fas fa-eye"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <span asp-validation-for="MAT_KHAU" class="text-danger"></span>
                                </div>
                                <!-- Trường Vai Trò Ẩn và có giá trị mặc định là 2 -->
                                <input asp-for="VAI_TRO" type="hidden" value="2" />

                                <!-- Trường Ngày Tạo Ẩn -->
                                <input asp-for="NGAY_TAO" type="hidden" />

                                <!-- Trường Trạng Thái Ẩn -->
                                <input asp-for="TRANG_THAI" type="hidden" value="0" />

                                <div class="form-group">
                                    <label asp-for="NGAY_SINH" class="control-label">Ngày sinh</label>
                                    <input asp-for="NGAY_SINH" class="form-control" type="date" />
                                    <span asp-validation-for="NGAY_SINH" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label asp-for="HINH_ANH" class="control-label">Hình ảnh</label>
                                    <input asp-for="HINH_ANH" type="file" class="form-control" />
                                    <span asp-validation-for="HINH_ANH" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Lưu" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    // Chuyển đổi hiển thị mật khẩu
    document.addEventListener('DOMContentLoaded', (event) => {
        const togglePassword = document.querySelector('#togglePassword');
        const passwordField = document.querySelector('#MAT_KHAU');

        togglePassword.addEventListener('click', function (e) {
            // Toggle the type attribute
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);

            // Toggle the eye slash icon
            this.querySelector('i').classList.toggle('fa-eye-slash');
        });
    });
</script>
