@model WebBanThatLung.Models.SanPhamModel
@{
    ViewData["Title"] = "Thêm sản phẩm";
    Layout = "~/Areas/NhanVien/Views/Shared/_LayoutNhanVien.cshtml";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-white">
                    <h4 class="card-title mb-0">Thêm mới sản phẩm</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="TEN_SAN_PHAM" class="control-label">Tên sản phẩm</label>
                                    <input asp-for="TEN_SAN_PHAM" class="form-control" />
                                    <span asp-validation-for="TEN_SAN_PHAM" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ID_LOAI_SAN_PHAM" class="control-label">Loại sản phẩm</label>
                                    <select asp-for="ID_LOAI_SAN_PHAM" class="form-control" asp-items="ViewBag.Loais"></select>
                                    <span asp-validation-for="ID_LOAI_SAN_PHAM" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ID_THUONG_HIEU" class="control-label">Thương hiệu</label>
                                    <select asp-for="ID_THUONG_HIEU" class="form-control" asp-items="ViewBag.ThuongHieus"></select>
                                    <span asp-validation-for="ID_THUONG_HIEU" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Chọn màu:</label>
                                    <div>
                                        @foreach (var mau in ViewBag.MAU as SelectList)
                                        {
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="selectedColors" value="@mau.Value" id="color_@mau.Value" />
                                                <label class="form-check-label" for="color_@mau.Value">@mau.Text</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SO_LUONG" class="control-label">Số lượng</label>
                                    <input asp-for="SO_LUONG" class="form-control" />
                                    <span asp-validation-for="SO_LUONG" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="GIA" class="control-label">Giá</label>
                                    <input asp-for="GIA" class="form-control" />
                                    <span asp-validation-for="GIA" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CHAT_LIEU" class="control-label">Chất liệu</label>
                                    <input asp-for="CHAT_LIEU" class="form-control" />
                                    <span asp-validation-for="CHAT_LIEU" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MO_TA" class="control-label">Mô tả</label>
                                    <textarea asp-for="MO_TA" class="form-control"></textarea>
                                    <span asp-validation-for="MO_TA" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="HinhAnhTaiLen" class="control-label">Hình ảnh</label>
                                    <input asp-for="HinhAnhTaiLen" type="file" multiple class="form-control" />
                                    <span asp-validation-for="HinhAnhTaiLen" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
