@{
    ViewData["Title"] = "Cửa hàng";
}


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p></p>
                    <h1>Cửa hàng</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".strawberry">Strawberry</li>
                        <li data-filter=".berry">Berry</li>
                        <li data-filter=".lemon">Lemon</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            <div class="col-lg-4 col-md-5 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="~/image/hinh1.jpg" height="300px" width="250px" alt=""></a>
                    </div>
                    <h3>Thắt lưng mini</h3>
                    <p class="product-price"><span></span> 85.000đ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="~/image/hinh2.jpg" height="300px" width="250px" alt=""></a>
                    </div>
                    <h3>Thắt lưng mini</h3>
                    <p class="product-price"><span></span> 85.000đ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="~/image/hinh3.jpg" height="300px" width="250px" alt=""></a>
                    </div>
                    <h3>Thắt lưng mini</h3>
                    <p class="product-price"><span></span> 85.000đ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="~/image/hinh4.jpg" height="300px" width="250px" alt=""></a>
                    </div>
                    <h3>Thắt lưng mini</h3>
                    <p class="product-price"><span></span> 85.000đ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="~/image/hinh6.jpg" height="300px" width="250px" alt=""></a>
                    </div>
                    <h3>Thắt lưng mini</h3>
                    <p class="product-price"><span></span> 85.000đ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="single-product.html"><img src="~/image/hinh5.jpg" height="300px" width="250px" alt=""></a>
                    </div>
                    <h3>Thắt lưng mini</h3>
                    <p class="product-price"><span></span> 85.000đ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="pagination-wrap">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a class="active" href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end products -->