

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="footer-box about-widget">
                <h2 class="widget-title">Chúng tôi</h2>
                <p>Chuyên bán các mặt hàng thắt lưng cao cấp & đảm bảo 100% bằng da thật</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="footer-box get-in-touch">
                <h2 class="widget-title">Thông tin liên hệ</h2>
                <ul>
                    <li>34/8, Hà huy tập, TP buôn ma thuột</li>
                    <li>Twotwo@Gmail.com</li>
                    <li>+84 987 234 777</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="footer-box pages">
                <h2 class="widget-title">Mục lục</h2>
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li><a asp-controller="CuaHang" asp-action="Index">Cửa hàng</a></li>

                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="footer-box subscribe">
                <h2 class="widget-title">Tiện lợi</h2>
                <p></p>
                <p> Đặt hàng nhanh chóng & dễ dàng </p>

            </div>
        </div>
    </div>
</div>
